@import url('./layout/fonts.css');
@import url('./layout/base.css');
@import url('./layout/normalize.css');
@import url('./blocks/header.css');
@import url('./blocks/contacts.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/title.css');
@import url('./blocks/pagination.css');
@import url('./blocks/socials.css');
@import url('./blocks/footer.css');
@import url('./blocks/content.css');
@import url('./blocks/reviews.css');
@import url('./blocks/copyright.css');
@import url('./blocks/form.css');
@import url('./blocks/news.css');
@import url('./blocks/specificity.css');
@import url('./blocks/menu.css');
@import url('./blocks/promo.css');
@import url('./blocks/partners.css');
@import url('./blocks/tariffs.css');

.page-content {
    padding-top: 67px;
    padding-bottom: 50px;
}

.page-content__container {
    display: flex;
}

.page-content__top {
    display: flex;
}

.container__top {
    margin-bottom: 60px;
}

.sidebar {
    display: flex;
    align-items: flex-start;
    width: 160px;
}

.content-text {
    flex: 1;
    margin-left: 20px;
}

.content-text__specificity {
    margin-bottom: 93px;
}

.auth-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/welcome.png') center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scale 1s;
    animation-iteration-count: 1;
}

.welcome__logo {
    margin-bottom: 30px;
}

.welcome__link {
    padding: 14px 22px;
    color: #ec1e79;
    background-color: white;
    border: 3px solid currentColor;
    text-decoration: none;
    font-family: "GothamProBold";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1;
}

.welcome__link:hover {
    color: white;
    background-color: #ec1e79;
    border: none;
}

@keyframes scale {
    0% {
        opacity: 0;
}

    20% {
    transform: scale(1.2);
}

    40% {
    transform: scale(0.9);
}

    60% {
    transform: scale(1.1);
}

    80% {
    transform: scale(0.95);
}

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 40%, 80% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-30px);
    }

    70% {
        transform: translateY(-15px);
    }
}